@font-face {
  font-family: "Formular";
  src: url("../fonts/Formular.woff2") format("woff2"),
    url("../fonts/Formular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Formular";
  src: url("../fonts/Formular-Medium.woff2") format("woff2"),
    url("../fonts/Formular-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Greenwich";
  src: url("../fonts/Greenwich-Medium.woff2") format("woff2"),
    url("../fonts/Greenwich-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
