$font-family: "Formular", sans-serif;
$color-primary: #3cb9a0;
$color-primary-hover: #36a8a0;
$color-secondary: #1786ac;
$color-white: #ffffff;
$color-gray-light: #f3f3f3;
$color-gray-dark: #394155;
$color-spinner: #3498db;
$shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
$border-radius: 8px;
$transition-time: 0.3s;